.options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin-bottom: 50px;
}

.question{
    background-color: aqua;
    padding-top: 30px;
}

@media screen and (max-width:576px){
    .options{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}