.option button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border: none;
}

.option p{
    margin: 0;
}